#main {
    background-color: var(--fond);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    transition: transform 0.4s ease-in-out;
    scroll-behavior: smooth;
    width: 100%;
    padding-top: 88px;
    scroll-padding-top: 100px;
}

